<!DOCTYPE html>
<html lang="en">
<head>
    <link
    rel="icon"
    href="{{ url_for('static', filename='HS.ico') }}"
    type="image/x-icon"
    />
    <meta property="og:title" content="HALASOC - halaman sosial site" />
    <meta property="og:description" content="mini project for sosial media " />
    <meta
        property="og:image"
        content="{{ url_for('static', filename='bagiankiri.png') }}"
    />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HALASOC | secret</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
  <body class="has-navbar-fixed-top">
        <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main-navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="{{ url_for('static',filename='HS.ico') }}"/>
                    <strong class="is-sparta logo-text">
                        HALASOC
                    </strong>
                </a>
            </div>
        </nav>
<body>
    <section class="hero is-large is-info">
        <div class="hero-body">
          <p class="title">
            The Secret Page
          </p>
          <p class="subtitle">
            You should be logged in
          </p>
          <p class="subtitle">
            {{ user_info.profile_name }}
          </p>
        </div>
      </section>
</body>
</html>